{% extends "admin/layouts/adminLayout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Gestion des articles</h1>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Chapeau</th>
				<th>Date de création</th>
				<th>Actions</th>
			</tr>
			{% for blogPost in blogPosts %}
				<tr>
					<td>{{ blogPost.id }}</td>
					<td>{{ blogPost.title }}</td>
					<td>{{ blogPost.headerPost }}</td>
					<td>{{ blogPost.creationDate|date("m/d/Y") }}</td>
					<td>
						<div>
							<a class="btn btn-primary" href="/admin/blogPosts/modify/{{ blogPost.id }}">Modifier</a>
						</div>
						<div>
							<form method="post" action="/admin/blogPosts/delete/{{ blogPost.id }}" onsubmit="return confirm('{{" êtes-vous sûr ?"}}')">
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
		<a href="/admin/blogPosts/create" class="btn btn-primary">Créer un article</a>
	</div>
{% endblock %}
