{% extends "admin/layouts/adminLayout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Gestion des articles</h1>
		<div class="mb-2"><a href="/admin/blogPosts/create" class="btn btn-primary">Créer un article</a></div>
		<table class="table table-striped mt-3">
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Chapeau</th>
				<th>Date de création</th>
				<th>Date de modification</th>
				<th>Actions</th>
			</tr>
			{% for blogPost in blogPosts %}
				<tr>
					<td>{{ blogPost.id }}</td>
					<td><a href="/blogPosts/{{ blogPost.id }}">{{ blogPost.title }}</a></td>
					<td>{{ blogPost.headerPost }}</td>
					<td>{{ blogPost.creationDate|date("d/m/Y") }}</td>
					<td>{{ blogPost.lastModificationDate|date("d/m/Y") }}</td>
					<td>
						<div class="mb-2 mr-2">
							<a class="btn btn-primary" href="/admin/blogPosts/modify/{{ blogPost.id }}">Modifier</a>
						</div>
						<div class="mb-2 mr-2">
							<form method="post" action="/admin/blogPosts/delete/{{ blogPost.id }}" onsubmit="return confirm('{{" Etes-vous sûr ?"}}')">
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
