{% extends "admin/layouts/adminLayout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modification de l'article
			{{ articleId }}</h1>
		{% if errors %}
			{% for error in errors %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
		{% endif %}
		<form action="" method="post">
			<div class="form-group">
				<label for="title">Titre</label>
				<input class="form-control" type="text" name="title" value="{{ postDatas.title }}">
			</div>
			<div class="form-group">
				<label for="headerPost">Chapô</label>
				<input class="form-control" type="text" name="headerPost" value="{{ postDatas.headerPost }}">
			</div>
			<div class="form-group">
				<label for="author">Auteur</label>
				<select class="form-control" name="author">
					{% for key, author in authors %}
						<option {{ (key == postDatas.author) ? 'selected' : '' }} value="{{key}}">{{author}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="content">Contenu</label>
				<textarea class="form-control" name="content">{{ postDatas.content|e }}</textarea>
			</div>
			<button class="btn btn-primary" type="submit">Sauvegarder</button>
		</form>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('content',{allowedContent: true});
	</script>
{% endblock %}
